
    <div class="shop-menu pull-right">
        <ul class="nav navbar-nav">
            <li id="cart-container"><vc:cart /></li>
            <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
            <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
        </ul>
    </div>
