@model WebStore.Domain.Entities.Employees.Employee


<div class="container">
    <h1>Employee information id:@Model.Id</h1>

    <p>Surname: @Model.Surname</p>
    <p>Name: @Model.Name</p>
    <p>Patronymic: @Model.Patronymic</p>
    <p>Age: @Model.Age</p>

    <hr />
    <p><a asp-controller="Employees" asp-action="Index">back to list</a></p>
</div>
