@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="SomeName" content="SomeContent"/>
    <title>"Action Home.Index"</title>
</head>

<body>
    <h3>Header</h3>
    <p>First view</p>
</body>
</html>
